{% extends "content_base.html" %}
{% block main_content %}
<div class="container-1400 max-w-1000 py-5 section-hr-p">
    <h6 class="heading text-md mb-3">Thank you for signing up</h6>
    <div class="confirmation-highlighted-sec p-4">
        <p class="text-bold">Please check your email</p>
        <p>We have sent you an email with the link to confirm your email address, you will need to this before you can login.</p>
    </div>
    <div class="text-center mt-4">Confirmed already? <a href="/login/" target="_blank" class="has-cbronze-color">Login here</a></div>
</div>
{% endblock main_content %}
