{% extends "base.html" %} {% load crispy_forms_tags %}{% block main_content %}
<div class="d-flex flex-column flex">
    <div class="py-5 text-center w-100">
        <div class="mx-auto w-xxl w-auto-xs">
            <div class="px-3">
                <div>
                    <h5>Forgot your password?</h5>
                    <p class="text-muted my-3">Enter your email below and we will send you instructions on how to change your password.</p>
                </div>
                <form name="form" method="POST">
                    {% crispy form %}
                </form>
                <div class="py-4">Return to <a href="{% url 'login' %}" class="link">Login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
