{% extends "base.html" %} {% load crispy_forms_tags %}
{% block main_content %}
<div class="d-flex flex-column flex">
    <div class="py-5 w-100">
        <div class="mx-auto w-xxl w-auto-xs">
            <div class="px-3">
                <h5 class="text-center">{{title}}</h5>
                {% if validlink %}
                <div class="my-3">
                    {% block form %}
                    <form method="post">
                        {% csrf_token %}

                        {% block form_inner %}
                            {{ form|crispy }}
                        {% endblock %}

                        {% block form_actions %}
                            <div class="form-actions text-center">
                                {% block form_actions_inner %}
                                    <input type="submit" class="btn is-primary" value="Change my password">
                                {% endblock form_actions_inner %}
                            </div>
                        {% endblock form_actions %}
                    </form>
                    {% endblock %}
                </div>
                {% else %}
                <div class="text-center">
                    <p class="text-muted my-3">The password reset link was invalid, possibly because it has already been used.</p>
                <div class="py-4">Please <a href="{% url 'password_reset' %}" class="link">request a new password</a> reset</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
