{% extends "app_base.html" %}
{% load crispy_forms_tags %}
{% block app_content %}
<div class="mx-auto w-xxl w-auto-xs">
    <h6 class="heading text-md text-center mb-4">Enter New Password</h6>
    {% block form %}
        <form method="post">
            {% csrf_token %}
            {% block form_inner %}
                {{ form|crispy }}
            {% endblock %}

            {% block form_actions %}
                <div class="text-center pt-3">
                    {% block form_actions_inner %}
                        <input type="submit" class="btn is-primary my-1" value="Change my password">
                    {% endblock form_actions_inner %}
                </div>
            {% endblock form_actions %}
        </form>
        {% endblock %}
</div>
{% endblock app_content %}
