{% extends "base.html" %}{% block main_content %}
<div class="d-flex flex-column flex">
    <div class="py-5 text-center w-100">
        <div class="mx-auto w-xxl w-auto-xs">
            <div class="px-3">
                <div>
                    <h5>Instructions sent successfully</h5>
                    <p class="text-muted my-3">We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
                </div>
                <div class="py-4">Return to <a href="{% url 'login' %}" class="link">Login</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
