$font-family-1: 'Oceania-Regular';
$font-family-2: 'Oceania-Light';
$font-family-3: 'Oceania-Medium';
$font-family-4: 'HelveticaNeue-Light', 'Helvetica Neue Light';
$body-bg: #F8F6F1;
$primary-font-color: #252525;
$sec-font-color: #BCBCBC;
$sec-font-hover-color: #A4A4A4;
$link-color: #6DB3BC;
$form-input-border-color: #E3E6E8;
$form-input-height: 34.5px;
$error-color: #DC3545;
$primary-highlight-color: #91B04D;
$progress-color: #5A4659;

//level colors
$level-1-color: #D28D00;
$level-2-color: #A7A7A7;
$level-3-color: #FDC300;
$level-4-color: #DEE2E4;

//breakpoints
$sm: 576px;$md: 768px;$lg: 992px;$xl: 1200px;$xs-sm: 440px;
