<label class="ui-check w-sm">
    <input type="radio" name="level" class="radio-sq blue" value="1" checked><i class="top-0"></i>
    <div class="badge bg-level-1 ml-1">Bronze</div>
</label>
<label class="ui-check w-sm">
    <input type="radio" name="level" class="radio-sq blue" value="2"><i class="top-0"></i>
    <div class="badge bg-level-2 ml-1">Silver</div>
</label>
<label class="ui-check w-sm">
    <input type="radio" name="level" class="radio-sq blue" value="3"><i class="top-0"></i>
    <div class="badge bg-level-3 ml-1">Gold</div>
</label>
<label class="ui-check w-sm">
    <input type="radio" name="level" class="radio-sq blue" value="4"><i class="top-0"></i>
    <div class="badge bg-level-4 ml-1">Platinum</div>
</label>
