coverage
.coverage
node_modules
bower_components
.tmp
.sass-cache
lib/
core/static/css/*.css
core/static/images/generated
*.map
client_media
CACHE
email-backend
template.pot
i18n/*.mo
frontend-translations
*.pyc
core/static/js/*.js
package-lock.json
.vscode/
.DS_Store
tmp
celerybeat-schedule.db
