{% if is_paginated %}
<div class="px-4">
    <ul class="pagination justify-content-sm-end m-0">
        <li class="page-item w-80 {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %} ?page=1 {% endif %}">
                <span>&lt;&lt;</span> First
            </a>
        </li>
        <li class="page-item w-80 {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %} ?page={{page_obj.previous_page_number}} {% endif %}">
                <span>&lt;</span> Prev
            </a>
        </li>
        {% for page_number in page_range %}
        <li class="page-item {% if page_number == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{ page_number }}"> {{ page_number }}</a>
        </li>
        {% endfor %}
        <li class="page-item w-80 {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %} ?page={{page_obj.next_page_number}} {% endif %}">
                Next <span>&gt;</span>
            </a>
        </li>
        <li class="page-item w-80 {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %} ?page={{page_obj.paginator.num_pages}} {% endif %}">
                Last <span>&gt;&gt;</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}
