{% extends "content_base.html" %}
{% block main_content %}
<div class="container-1400">
    <div class="section-hr-p">
        <button class="btn is-primary w-xs mt-3" onclick="window.history.back()">Back</button>
    </div>
    <div class="section-hr-p py-4">
        <h5 class="heading text-md">Introduction</h5>
        <p class="pt-2">
            The Global Grant Community (GGC) is the place where grantees and grantors can come together to share best practice in all things to do with improving the management of grant funding.
            <ul>
                <li>The centre of gravity of the community is a new international standard for Good Financial Grant Practice (GFGP)</li>
                <li>It is structured into four tiers of bronze ( for smaller organizations) , through silver, gold and finally platinum ( for the largest organizations).</li>
                <li>The areas of grant management covered in the GFGP standard are Financial management, Procurement, Human resources and Governance.</li>
                <li>Another advantage of GFGP being an international standard is a grantee can become certified as working in compliance with Bronze, Silver, Gold or Platinum tiers of the standard.</li>
            </ul>
        </p>
    </div>
</div>
<div class="bg-english-violet text-white py-5">
    <div class="container-1400 section-hr-p">
        <h5 class="heading text-md text-copper">Who the GGC is for </h5>
        <p class="pt-2">
            So what is the GGC portal for?
            <ul>
                <li>Imagine you’re a grantor and you are considering making an award to a grantee.</li>
                <li>You assess the size and complexity of the potential award and decide, for example ,that you want the grantee to self assess their capabilities against the requirements of the Silver tier of the standard. When prompted, the grantee can upload supporting documents such as their policies and procedures etc.</li>
                <li>Through the portal the grantee is sent an invitation to register and complete the self assessment at the Silver Tier.</li>
                <li>The system sends you a message when they have submitted their report.</li>
                <li>You can view the grantee’s report and documents in the portal.</li>
                <li>Another neat benefit of the portal, from the grantee’s perspective, is if another grantor wishes to make an award to the same grantee, then subject to the grantee giving their permission, the new grantor can view the grantees completed report in the portal.</li>
                <li>This removes from the grantee the need for repetitive pre-award assessments.</li>
            </ul>
        </p>
        <p class="pt-2">
            Sounds good – but who is going to pay for this?
            <ul>
                <li>Grantors will pay a subscription to request grantees to undertake a self assessment against the standard.</li>
                <li>At their discretion the grantor may wish to pay for an independent compliance assessment organization to undertake an on-site visit of the grantee and verify the accuracy of the responses and certify them as working in compliance to GFGP.</li>
                <li>There will be no charge for grantees.</li>
            </ul>
        </p>
    </div>
</div>
{% endblock main_content %}
