{% extends "content_base.html" %}
{% block main_content %}
<div class="container-1400">
    <div class="section-hr-p">
        <button class="btn is-primary w-xs mt-3" onclick="window.history.back()">Back</button>
    </div>
    <div class="section-hr-p py-4">
        <h5 class="heading text-md">How safe is my data and what about the new General Data Protection Regulation (GDPR)?</h5>
        <p class="pt-2">
            The portal and all your data will be hosted on the Amazon Web Services servers located in Eire.
        </p>
        <p class="pt-2">
            We are working hard to ensure we shall be compliant with the requirements of GDPR when the production version goes live in Mid’18.
        </p>
        <p class="pt-2">
            African Academy of Sciences has not yet been assessed for compliance to GDPR. The beta portal has been developed to test and refine the production / launch version of the portal. The security and privacy of your data has been a core requirement throughout the development process
        </p>
    </div>
</div>
{% endblock main_content %}
