<div class="box mt-5">
    <div class="box-header d-flex align-items-center justify-content-between flex-xs-sm-down-wrap">
        <div class="d-flex align-items-center mr-1 mb-2">
            <i class="fa fa-info-circle has-cbronze-color fa-3x mr-2"></i>
            <h2 class=>Information about user types</h2>
        </div>
        <input type="button" name="toggleSection" class="btn white ml-1 w-xs" data-val="user_types" value="Show">
    </div>
    <div id="level_user_types" class="box-body px-0 collapse">
        <label class="px-4">Different user types have different privileges, these are as follows:</label>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="pl-4 w-lg"></th>
                        <th class="text-center">User</th>
                        <th class="text-center">Manager</th>
                        <th class="pr-4 text-center">Administrator</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pl-4 text-right">Edit assessments</td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                    <tr>
                        <td class="pl-4 text-right">Upload documents</td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                    <tr>
                        <td class="pl-4 text-right">Make / Accept invitations</td>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                    <tr>
                        <td class="pl-4 text-right">Submit assessments</td>
                        <td class="text-center"></td>
                        <td class="text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                    <tr>
                        <td class="pl-4 text-right">Administer organization</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                    <tr>
                        <td class="pl-4 text-right">Purchase invitations & subscrptions</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="w-sm pr-4 text-center"><i class="fa fa-2x fa-check sec-font-color"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
